<div>
  <% if(books.length == 0) { %> 
    No books match this query. Make your query simpler. 
  <% } else { %>
    <% for(var i = 0; i < books.length; i++) { %>
      <div>
        <% var book_id = books[i]._id; %>
        <a onclick="$.ajax({type:'PUT',url:'/user/books/selling/add/',data:'book_id=<%= book_id %>'});" href="#" book_id="<%= book_id %>">Add</a>
        <div>
          <% for(var j = 0; j < books[i].course_ids.length; j++) { %>
            <% var course = course_dictionary[books[i].course_ids[j]]; %>
            <% if(course) { %>
              <%= course._id %> - <%= course.name %>
            <% } %>
          <% } %>
        </div>
        <div>
          <%= books[i].title %> by <%= books[i].author %>
        </div>
      </div>
    <% } %>
  <% } %>
</div>
