<% if(books.length == 0) { %> 
  No books match this query
<% } else { %>
  <% for(var i = 0; i < books.length; i++) { %>
    <div class="listing">
      <% var book_id = books[i]._id; %>

      <div>
        <%= books[i].title %> by <%= books[i].author %>
      </div>

      <div>
        Required for 
        <% for(var j = 0; j < books[i].course_ids.length; j++) { %>
          <% var course = course_dictionary[books[i].course_ids[j]]; %>
          <% if(course) { %>
            <%= course._id %> - <%= course.name %>,&nbsp;
          <% } %>
        <% } %>
      </div>

      <a onclick="buy(this);" href="#!buy" book_id="<%= book_id %>">Buy</a>
      |
      <a onclick="sell(this);" href="#!sell" book_id="<%= book_id %>">Sell</a>

    </div>
  <% } %>
<% } %>
