<% if(books.length == 0) { %> 
  No books match this query
<% } else { %>
  <% for(var i = 0; i < books.length; i++) { %>
      <% var book = books[i] %>
      <% var book_id = book._id; %>
      <div class="papers" book_id="<%= book_id %>">
        <div class="papers_content">

        <div>
          <span class="title"><%= book.title %></span>
          <span class="author">by <%= book.author %></span>
        </div>

          <% var courseStrings = []; %>
          <% for(var j = 0; j < books[i].course_ids.length; j++) { 
               var course = course_dictionary[books[i].course_ids[j]];
               if(course) { 
                 courseStrings.push(course._id + ': ' + course.name);
               }
             } 
             if(courseStrings.length > 0) { %>
             <div class="required">Required for <%= courseStrings.join(', ') %></div>
          <%  } %>

          <div class="expanded_book">
            <div class="buysell">
              <form onsubmit="return buy(this)" book_id="<%= book_id %>">
                <h3>Live email notifications:</h3>
                <!--<span class="q">what is this?</span>-->
                <label>Max buying price:</label> $<input class="price" type="text" name="price" /><span class="detail">(at least 0)</span>
                <button type="submit" class="green">Buy</button>
              </form>
              <form onsubmit="return sell(this)" book_id="<%= book_id %>">
                <label>Min selling price:</label> $<input class="price" type="text" name="price" /><span class="detail">(at least 0)</span>
                <button type="submit" class="blue">Sell</button>
              </form>
            </div>
            <div class="pricing">
              <h3>Shop online:</h3>
                <% if (typeof book.pricing != "undefined" && book.pricing.length > 0) { %>
                <table>
                <% for(var k = 0; k < Math.min(5,book.pricing.length); k++) {  %>
                  <% var p = book.pricing[k]; %>
                  <tr>
                    <td><a href="<%= p.link %>" target="_blank"><%- p.store %></a></td>
                    <td>$<%= p.price.toFixed(2) %></td>
                  </tr>
                <% } %>
                </table>
                <%} else { %>
                  Coming soon...
                <% } %>
            </div>
            <div style="clear:both"></div>
          </div>
      </div>
    </div>
  <% } %>
<% } %>
