<% for(var i = 0; i < list.length; i++) { %>
  <div class="listing">
    <% var minmax = "min"; if(action === "buy"){ minmax = "max"; } %>
    <%= list[i].title %>
    Your <%= minmax %> notification price is $<%= priceDict[list[i]._id.toString()] %>.
    <button onclick="removeFromList(this,'<%= action %>')" book_id=<%= list[i]._id %> >Del</button>
  </div>
<% } %>
