<% if(books.length == 0) { %> 
  No books match this query
<% } else { %>
  <% for(var i = 0; i < books.length; i++) { %>
      <% var book = books[i] %>
      <% var book_id = book._id; %>
      <div class="listing" book_id="<%= book_id %>">

      <div>
        <span class="title"><%= book.title %></span>
        <span class="author">by <%= book.author %></span>
      </div>

        <% var courseStrings = []; %>
        <% for(var j = 0; j < books[i].course_ids.length; j++) { 
             var course = course_dictionary[books[i].course_ids[j]];
             if(course) { 
               courseStrings.push(course._id + ': ' + course.name);
             }
           } 
           if(courseStrings.length > 0) { %>
           <div>Required for <%= courseStrings.join(', ') %></div>
       <%  } %>

       <!--
      <a onclick="buy(this);" href="#" book_id="<%= book_id %>">Buy</a>
      |
      <a onclick="sell(this);" href="#" book_id="<%= book_id %>">Sell</a>
      -->
      <a onclick="viewMore(this)" href="#" book_id="<%= book_id %>">more info</a>

    </div>
  <% } %>
<% } %>
